*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

body {
  background: hsl(0, 0%, 100%);
  font-family: "Alata", sans-serif;
  color: hsl(0, 0%, 85%);
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container {
  max-width: 375px;
  width: 100%;
}
body h1 {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1;
}
@media (min-width: 768px) {
  body h1 {
    font-size: 4.5rem;
  }
}
body h2 {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 0%, 0%);
  font-size: 1.75rem;
  line-height: 1;
}
@media (min-width: 768px) {
  body h2 {
    font-size: 2.5rem;
  }
}
body a {
  text-decoration: none;
  color: inherit;
}
body button {
  cursor: pointer;
  font: inherit;
  background: none;
  border: none;
}

header {
  background-image: url(../images/mobile/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 1.5em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
@media (min-width: 768px) {
  header {
    background-image: url(../images/desktop/image-hero.jpg);
  }
}
header .header__flex-row {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .header__flex-row .header__nav .header__menu {
  position: absolute;
}
header .header__hero {
  border: 2px solid hsl(0, 0%, 100%);
  padding: 1.5em;
  max-width: 100%;
  margin: auto;
  align-self: start;
}
header .header__hero .header__title {
  width: 100%;
  word-wrap: break-word;
  text-transform: uppercase;
}

main {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 7em;
  gap: 6em;
}
main .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
main .about .about__title {
  text-transform: uppercase;
  font-weight: 300;
}
main .about .about__text {
  text-align: center;
  width: 80%;
}
main .creations {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
main .creations .creations__title {
  text-transform: uppercase;
  font-weight: 300;
}
main .creations .creations__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .creations .creations__card-content .creations__card {
  width: 100%;
  height: 10em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 1.5em;
  text-align: start;
}
main .creations .creations__card-content .creations__card .creations__name {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 28px;
  width: 45%;
  line-height: 1;
  color: hsl(0, 0%, 100%);
}
main .creations .creations__card-content .creations__card:first-child {
  background-image: url(../../images/mobile/image-deep-earth.jpg);
}
main .creations .creations__card-content .creations__card:nth-child(2) {
  background-image: url(../../images/mobile/image-night-arcade.jpg);
}
main .creations .creations__card-content .creations__card:nth-child(3) {
  background-image: url(../../images/mobile/image-soccer-team.jpg);
}
main .creations .creations__card-content .creations__card:nth-child(4) {
  background-image: url(../../images/mobile/image-grid.jpg);
}
main .creations .creations__card-content .creations__card:nth-child(4) .creations__name {
  width: 30%;
}
main .creations .creations__card-content .creations__card:nth-child(5) {
  background-image: url(../../images/mobile/image-from-above.jpg);
}
main .creations .creations__card-content .creations__card:nth-child(6) {
  background-image: url(../../images/mobile/image-pocket-borealis.jpg);
}
main .creations .creations__card-content .creations__card:nth-child(7) {
  background-image: url(../../images/mobile/image-curiosity.jpg);
}
main .creations .creations__card-content .creations__card:nth-child(8) {
  background-image: url(../../images/mobile/image-fisheye.jpg);
}
main .creations .creations__button {
  text-transform: uppercase;
  border: 2px solid hsl(0, 0%, 0%);
  width: 50%;
  padding: 0.7em 0;
}/*# sourceMappingURL=main.css.map */