@use '../abstracts/variables' as v;

header {
    background-image: url(../images/mobile/image-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2em 1.5em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    @media(min-width: 768px){
        background-image: url(../images/desktop/image-hero.jpg);
    }

   .header__flex-row {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // align-self: start;
    // margin: auto;

    .header__nav {
        .header__menu {
        background-color: rebeccapurple;
        // transform: translateX(1000%);
        // transition: transform 0.3s ease;
    }
    } 
}

.header__hero {
    border: 2px solid v.$clr-body;
    padding: 1.5em;
    max-width: 100%;
    margin: auto;
    align-self: start;
    
   

    .header__title{
        width: 100%;
        word-wrap: break-word;
        text-transform: uppercase;
    }
}
}

