@use '../abstracts/variables' as v;

header {
    background-image: url(../images/mobile/image-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5em 1em;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    @media(min-width: 768px){
        background-image: url(../images/desktop/image-hero.jpg);
    }

   .header__flex-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header__nav {
        .header__menu {
        position: absolute;
        transform: translateX(1000%);
        transition: transform 0.3s ease;
    }
    } 
}

.header__hero {
    border: 3px solid v.$clr-body;
    padding: 1.5em;
    margin-bottom: 10rem;
    // margin-bottom: 0;
    // margin-top: auto;

    .header__title{
        width: 80%;

    }
}
}

