@use '../abstracts/variables' as v;

body {
    background: v.$clr-body;
    font-family: v.$ff-primary;
    color: v.$clr-text-body;
    font-size: v.$fs-body;
    font-weight: v.$fw-regular;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

.container {
    width: 100%;
    // @media(min-width: 768px){
    //     max-width: 1444px;
    //     width: 100%;
    //     padding: 5em 10em;
    // }
}

h1 {
    font-family: v.$ff-secondary;
    color: v.$clr-body;
    font-weight: v.$fw-regular;
    font-size: v.$fs-300;
    line-height: 1;

    @media(min-width: 768px){
        font-size: v.$fs-500;
    }
}

h2 {
    font-family: v.$ff-secondary;
    color: v.$clr-text-heading;
    font-size: v.$fs-200;
    line-height: 1;

    @media (min-width: 768px) {
        font-size: v.$fs-300;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font: inherit;
    background: none;
    border: none;
}
}