@use '../abstracts/variables' as v;

body {
    background: v.$clr-body;
    font-family: v.$ff-primary;
    color: v.$clr-text-body;
    font-size: v.$fs-body;
    font-weight: v.$fw-regular;
    line-height: 1.5;
}

h1 {
    font-family: v.$ff-secondary;
    color: v.$clr-text-heading;
    font-weight: v.$fw-bold;
    font-size: v.$fs-h1;
    line-height: 1.1;

    @media(min-width: 768px){
        font-size: v.$fs-500;
    }
}

h2 {
    font-family: v.$ff-secondary;
    color: v.$clr-text-heading;
    font-size: v.$fs-h2;
    line-height: 1.2;

    @media (min-width: 768px) {
        font-size: v.$fs-300;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font: inherit;
    background: none;
    border: none;
}