// color
$clr-neutral-100: hsl(0,0%,100%);
$clr-neutral-300: hsl(0,0%,85%);
$clr-neutral-900: hsl(0,0%,0%);

$clr-body: $clr-neutral-100;
$clr-text-body: $clr-neutral-300;
$clr-text-heading: $clr-neutral-900;

// fonts
$ff-primary: 'Josefin Sans', sans-serif;
$ff-secundary: 'Alata', sans-serif;

$fw-regular: 300;
$fw-bold: 400;

